{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
</div>
<div >
    {{ form_row(form.isVerified) }}
</div>
<button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3">{{ button_label|default('Save Log') }}</button>
{{ form_end(form) }}