{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show User</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_user_index') }}">
                    View All users
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Id:</b>
                <p>{{ user.id }}</p>
                <b class="text-muted">Email:</b>
                <p>{{ user.email }}</p>
                <b class="text-muted">Roles:</b>
                <p>{{ user.roles ? user.roles|json_encode : '' }}</p>
                <b class="text-muted">IsVerified:</b>
                <p>{{ user.isVerified ? 'Yes' : 'No' }}</p>
            </div>
        </div>
    </div>
{% endblock %}
